body {
    margin: 0;
    padding: 0;
font-family: 'Glacial Indifference', sans-serif;  
text-align: center;
    color: #d8b7fe;
    background-image: url(fondo.jpg);
  }
  .signupFrm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .form {
    background-color: white;
    width: 400px;
    border-radius: 59px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px #d8b7fe;
  }
  .inputContainer {
    position: relative;
    height: 45px;
    width: 90%;
    margin-bottom: 18px;
  }
  .input {
    position: absolute;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid #DADCE0;
    border-radius: 50px;
    font-size: 17px;
    padding: 0 20px;
    background: none;
    z-index: 1;
  }
  ::placeholder {
    color: transparent;
  }
  .label {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: white;
    color: #DADCE0
  }
  .submitBtn {
    padding: 15px 30px;
    border: none;
    background-color: #fcc5fe;
    color: white;
    border-radius: 50px;
    font-size: 16px;
  }
  .submitBtn:hover {
    background-color: #e993ec;
  }
  .input:focus + .label {
    top: -7px;
    z-index: 10;
    font-weight: 600;
    color: rgb(131, 16, 131);
  }
  a {
    padding: 15px 30px;
    background-color: #fcc5fe;
    border-radius: 50px;
    font-size: 16px;
    text-decoration: none;
  margin-left: -220%;
  color: black;
  }
a:hover {
    background-color: #e993ec;
  }