body{
    margin: 0;
padding: 0;
height: 100vh;
background: url(nur.png);
}
li{
list-style: none;
margin-top: 2%;
padding-right: 9px
}
.menu{
display: flex;
justify-content:space-around;
align-items:center;
font-size: 94%;
}
ul{
display: flex;
margin-left: 23%;
font-family: 'Glacial Indifference', sans-serif;  
text-indent: 3em;
}       
header{
height: 100vh;
background-size: cover;
}
.ty{
text-decoration-line:underline;
}
a{
text-decoration: none;
color: black;
}
a:hover{
text-decoration: none;
text-decoration:underline; color:black; 
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.search-bar{    
    height: 45%;
    width: 80%;
    background: #d8b7fe;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    margin-top: 2%;
    margin-left: 1em;
  }
  .search-bar input{
    background: transparent;
    flex: 1;
  border: none;
    outline: none;
    padding: 24px 20px;
    font-size: 15px;
    color: black;
  }
  .search-bar button img{
    width: 18px;
  }
  .search-bar button{
    border: 0;
    border-radius: 60%;
    width: 0%;
    height: 40%;
    margin-left: -93%;
    margin-right: 6.5%;
    margin-top: -6%;
    cursor: pointer;
  }
h1{
    display: flex;
    justify-content: space-between;
margin-top: -4%;
font-size: 270%;
color: #d8b7fe;
align-items: center;
font-family: 'Times New Roman', Times, serif;
margin-left: 40%;
}
b{
    color: #ef82db;
}
table {
    border-collapse: collapse;
    border-color: #d8b7fe;
    width: 60%;
margin-left: 18%;
margin-top: -8.5px;


  }
  td {
    padding: 20px;
text-align: justify;
font-family: 'Glacial Indifference', sans-serif;  
font-size: 15px;
  }
  h2{
color:#d8b7fe;
font-family: 'Times New Roman', Times, serif; 
text-align: center;
  }
  /*Accesibilidad*/
body{
  font-size: 16px;
  transition: font-size 0.2s ease;
}
#accessibility-controls{
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 999;
  background-color: white;
  padding: 5px 10px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

#accessibility-controls button{
  font-size: 18px;
  margin: 0 5px;
  cursor: pointer;
}